<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/starwars.css">
    <script defer src="../js/starwars.js"></script>
    <title>Document</title>
</head>
<body>
    <audio autoplay>
        <source src="https://www.thesoundarchive.com/starwars/star-wars-theme-song.mp3" type="audio/ogg">
        Your web browser is outdated or don't support OGG and MP3 codecs. 
    </audio>
    <div id="intro">
        아 뭐 대충 이런거 원한거 아니에요?<br> 맞다고 해줘요!
    </div>
    <div id="logo"></div>
    <div id="scroller">
        <div id="scroller-content">
            <p>
                사실 포트폴리오 페이지 만드려고 했는데,
                뭐 남들한테 자랑? 할만한 작업물도 아직 없고
                그냥 하고싶은거 다 해볼라고요.
                맞아요. 짬뽕이에요.
            </p>
            <p>
                방구석에서 이런거 만들면 재밌긴 한데,
                내가 '개발' 을 하는지 애니메이션을 만들고 있는지
                헷갈리더라고요 ㅠ
                그래도 뭐 재밌게 했으니 후회는 없습니다.
            </p>
            <p>
                지금 보시는거는 그냥 css 로 animation
                작업만 하고, 아까 보노보노에서 js 조금 사용했네요.
                이제부터 보일 화면은 js 를 덕지덕지 발라놨으니
                스터디의 취지에 맞겠죠?
            </p>
        </div>
    </div>
</body>
</html>